__pycache__
/code/.ipynb_checkpoints
/code/data/*
!/code/data/.gitkeep
/code/df_cache/*
!/code/df_cache/.gitkeep
/code/datasets
/code/model
/code/model_weights/*
!/code/model_weights/.gitkeep
/code/results/*.pkl
/test